@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    height: max-content;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
}

.container {
    width: 91vw;
    display: flex;
}

.container-logo-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.logo {
    max-width: 200px;
}

.picture {
    max-width: 620px;
}

.container-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-left: 40px;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
}

.container-text h1 {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 5px;
    padding-right: 40px;
}

.container-text p {
    padding-right: 5px;
    font-size: 15px;
}

.container-text button {
    width: 170px;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.container-text button:hover {
    background-color: hsl(300, 69%, 71%);
}

.social-media {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    padding-right: 50px;
    right: 0;
}

.social-media div {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-media div:hover {
    border: 2px solid hsl(300, 69%, 71%);
}

.social-media div img {
    width: 15px;
    height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
}

.attribution a {
    font-weight: 900;
    color: #fff;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {

    body {
        gap: 20px;
        margin-top: 20px;
        overflow-x: hidden;
    }

    .container {
        flex-direction: column;
        max-width: 600px;
        width: 80vw;
    }

    .container-text {
        margin-top: 30px;
        padding: 0;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .container-text h1 {
        padding: 0;
        font-size: 25px;
        line-height: 40px;
    }

    .container-text p {
        padding: 0;
    }

    .social-media {
        position: relative;
        padding-right: 0;
    }

    footer {
        margin-top: 30px;
        position: relative;
    }

}